<a href="https://colab.research.google.com/github/akbarjon2000/DataScience/blob/main/daraframe1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [3]:
data = {
    "yil":[2021, 2020, 2019, 2022, 2023, 2009,2012],
    "Aholi soni":[30.1, 32.4, 45.6, 98.5, 22.4,534.5, 67.2],
    "temp":[2.3,4.1,42.3,5.1,4.5,5.6,7.2]
}

In [4]:
frame = pd.DataFrame(data)

In [5]:
frame

    yil  Aholi soni  temp
0  2021        30.1   2.3
1  2020        32.4   4.1
2  2019        45.6  42.3
3  2022        98.5   5.1
4  2023        22.4   4.5
5  2009       534.5   5.6
6  2012        67.2   7.2

In [6]:
frame.head()

    yil  Aholi soni  temp
0  2021        30.1   2.3
1  2020        32.4   4.1
2  2019        45.6  42.3
3  2022        98.5   5.1
4  2023        22.4   4.5

In [7]:
frame.head(4)

    yil  Aholi soni  temp
0  2021        30.1   2.3
1  2020        32.4   4.1
2  2019        45.6  42.3
3  2022        98.5   5.1

In [8]:
frame = pd.DataFrame(data, columns = ["temp", "yil", "Aholi soni"])

In [9]:
frame

   temp   yil  Aholi soni
0   2.3  2021        30.1
1   4.1  2020        32.4
2  42.3  2019        45.6
3   5.1  2022        98.5
4   4.5  2023        22.4
5   5.6  2009       534.5
6   7.2  2012        67.2

In [10]:
frame.head()

   temp   yil  Aholi soni
0   2.3  2021        30.1
1   4.1  2020        32.4
2  42.3  2019        45.6
3   5.1  2022        98.5
4   4.5  2023        22.4

In [11]:
frame.head(3)

   temp   yil  Aholi soni
0   2.3  2021        30.1
1   4.1  2020        32.4
2  42.3  2019        45.6

In [25]:
frame = pd.DataFrame(data, columns = ['temp', 'yil', 'Aholi soni', 'unknown'])

In [26]:
frame

   temp   yil  Aholi soni unknown
0   2.3  2021        30.1     NaN
1   4.1  2020        32.4     NaN
2  42.3  2019        45.6     NaN
3   5.1  2022        98.5     NaN
4   4.5  2023        22.4     NaN
5   5.6  2009       534.5     NaN
6   7.2  2012        67.2     NaN

In [27]:
frame['unknown'] = 111

In [28]:
frame

   temp   yil  Aholi soni  unknown
0   2.3  2021        30.1      111
1   4.1  2020        32.4      111
2  42.3  2019        45.6      111
3   5.1  2022        98.5      111
4   4.5  2023        22.4      111
5   5.6  2009       534.5      111
6   7.2  2012        67.2      111

In [29]:
frame.unknown = 222

In [30]:
frame

   temp   yil  Aholi soni  unknown
0   2.3  2021        30.1      222
1   4.1  2020        32.4      222
2  42.3  2019        45.6      222
3   5.1  2022        98.5      222
4   4.5  2023        22.4      222
5   5.6  2009       534.5      222
6   7.2  2012        67.2      222

In [31]:
frame['unknown'] = [123,234,3545,345,345,456,243]

In [32]:
frame

   temp   yil  Aholi soni  unknown
0   2.3  2021        30.1      123
1   4.1  2020        32.4      234
2  42.3  2019        45.6     3545
3   5.1  2022        98.5      345
4   4.5  2023        22.4      345
5   5.6  2009       534.5      456
6   7.2  2012        67.2      243

In [33]:
frame.unknown = [1,2,3,4,4,5,6]

In [34]:
frame

   temp   yil  Aholi soni  unknown
0   2.3  2021        30.1        1
1   4.1  2020        32.4        2
2  42.3  2019        45.6        3
3   5.1  2022        98.5        4
4   4.5  2023        22.4        4
5   5.6  2009       534.5        5
6   7.2  2012        67.2        6

In [46]:
frame = pd.DataFrame(data, columns = ['temp', 'yil', 'Aholi soni', 'unknown'], index=[12,43,54,21,12,True,'a'])

In [47]:
frame

      temp   yil  Aholi soni unknown
12     2.3  2021        30.1     NaN
43     4.1  2020        32.4     NaN
54    42.3  2019        45.6     NaN
21     5.1  2022        98.5     NaN
12     4.5  2023        22.4     NaN
True   5.6  2009       534.5     NaN
a      7.2  2012        67.2     NaN

In [48]:
s = frame.temp

In [49]:
s

12       2.3
43       4.1
54      42.3
21       5.1
12       4.5
True     5.6
a        7.2
Name: temp, dtype: float64

In [50]:
type(s)

pandas.core.series.Series

In [55]:
from pandas import Series

In [56]:
val = Series([111,222,333], index = [12, True, 'a'])

In [57]:
val

12      111
True    222
a       333
dtype: int64

In [58]:
frame.unknown = val

In [60]:
frame

      temp   yil  Aholi soni  unknown
12     2.3  2021        30.1    111.0
43     4.1  2020        32.4      NaN
54    42.3  2019        45.6      NaN
21     5.1  2022        98.5      NaN
12     4.5  2023        22.4    111.0
True   5.6  2009       534.5    222.0
a      7.2  2012        67.2    333.0